<html>
<head><title>{{ custom_page_title }}</title></head>
<body>
  <h1>{{ custom_page_title }}</h1>
  <p>Served by: <strong>{{ ansible_hostname }}</strong></p>
  <p>Environment: {{ env_name }}</p>
</body>
</html>